//------------------Help Section Style----------------------------

.white-title {
	color: $white-color;
}

.projects-link {
	img {
		width: 100%;
	}
}

.projects-link{
	position: relative;
	&:before {
		content: "";
		background-color: $effect-color;
		top:0;
		bottom:0;
		right: 0;
		left: 0;
		position: absolute;
		opacity: 0.8;
		display: none;
	}
}
.projects-link:hover {
	&:before {
		display: block;
	}
}
.all-projects:link, .all-projects:visited{
	font-size: 2rem;
	line-height: 1.43;
	font-weight: 700;
	color: $effect-color;
	text-transform: uppercase;
	&:after {
		content: "";
		display: block;
		background-color: $effect-color;
		width: 3rem;
		height: 0.3rem;
	}
}

.excerpt {
	p {
		font-size: 1.6rem;
		line-height: 1.63;
		color: $white-color;
		max-width: 40rem;
	}
}

.projects-item:first-child {
	padding-left: 0;
	padding-right: 0;
	@media (min-width: 768px) {
		padding-right: 1.5rem;
	}
}
.projects-item:last-child {
	padding-left: 0;
	padding-right: 0;
	@media (min-width: 768px) {
		padding-left: 1.5rem;
	}
}