
$mainfont: 'Muli', sans-serif;
$primary: #4e30e5;
$subcolor: #9440d4;
$title-color: #282828;
$effect-color: #66e0d2;
$text-color: #4a4a4a;
$section-back-color: #f8f8f9;
$section-back-darc-color: #191919;
$white-color: #fff;
$button-color: #1e59a9;
$border-color: #d8d8d8;
$client-position: #9b9b9b;
$process-li-border: #e5e5e5;
$box-shadow: #114182;
$form-border: #cbcbcb;
